{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>List Rumah Sakit</h2>
        </div>
        <div class="col-lg-4">
            {% if request.session.role == 'administrator' %}
                <div class="navbar-right">
                    <a href="{% url 'rumah_sakit:rumah_sakit_create' %}">
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Rumah Sakit</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <hr/>
        <table class="table">
            <thead>
                <tr>
                    <th>Nama Rumah Sakit</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Url Website</th>
                    <th>Alamat</th>
                    <th>Nomor Telepon</th>
                    <th>Koordinat Bujur</th>
                    <th>Koordinat Lintang</th>
                    <th>Status Validasi</th>
                </tr>
            </thead>
            <tbody>
                {% for foo in rumah_sakits %}
                    <tr>
                        <td>
                            <a href="{% url 'rumah_sakit:rumah_sakit_detail' pk=foo.pk %}">{{ foo.nama }}</a>
                        </td>
                        <td>
                            {{ foo.akun.user.username }}
                        </td>
                        <td>
                            {{ foo.akun.user.email }}
                        </td>
                        <td>
                            {{ foo.url_website }}
                        </td>
                        <td>
                            {{ foo.alamat }}
                        </td>
                        <td>
                            {{ foo.nomor_telepon }}
                        </td>
                        <td>
                            {{ foo.lokasi_rumah_sakit_bujur }}
                        </td>
                        <td>
                            {{ foo.lokasi_rumah_sakit_lintang }}
                        </td>
                        <td>
                            {{ foo.status_validasi }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
