{% extends 'base.html' %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>Berita Terkini</h2>
        </div>
        <div class="col-lg-4">
            {% if request.session.role == 'administrator' %}
                <div class="navbar-right">
                    <a href="{% url 'utama:create' %}">
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Berita</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <hr/>

    {% for foo in beritas %}
        <div class="row">
            <a href="{% url 'utama:detail' pk=foo.pk %}"><h3>{{ foo.judul }}</h3></a>
            <p>{{ foo.waktu }}<p>
            <div class="col-sm-5">
                <img src="{{ foo.foto_berita.url  }}" alt="pict not available" width="400em" height="250em" class="img-thumbnail">
                <br/>
                <hr/>
                <br/>
            </div>
            <div class="col-sm-7">
                <p>{{ foo.isi }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}