{% extends 'base.html' %}
{% load widget_tweaks  %}

{% block body_block %}
    <div class="container">
        <h2>Kelolah Jadwal Dokter</h2>
        <hr/>
        <div class="row">
            <div class="col-lg-8">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
{#                    {{ form.as_p }}#}

                    <div class="row">
                        {% for field in form %}
                            {% if field.name != 'dokter'  %}
                                <div class="form-group col-lg-6">
                                    <label for="{{ field.name }}">{{ field.label }}</label>
                                    {{ field | add_class:'form-control datepicker'}}
                                </div>
                                {% else %}
                                <div class="form-group col-lg-12">
                                    <label for="{{ field.name }}">{{ field.label }}</label>
                                    {{ field | add_class:'form-control' }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}