{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
        <h2>List Pencarian Rumah Sakit</h2>
        <h3>Pencarian Berdasarkan : {{ request.GET.search_select }} dengan value = "{{ request.GET.data }}"</h3>
        <p>Terdapat {{ data_pencarian.count }} hasil pencarian...</p>
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                        Nama Rumah Sakit
                    </th>
                    <th>
                        Url
                    </th>
                    <th>
                        Nomor Telepon
                    </th>
                    <th>
                        Alamat
                    </th>
                    <th>
                        Koordinat Lintang
                    </th>
                    <th>
                        Koordinat Bujur
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for data in data_pencarian %}
                <tr>
                    <td>
                        <a href="{% url 'rumah_sakit:rumah_sakit_detail' pk=data.pk %}">{{ data.nama }}</a>
                    </td>
                    <td>
                        {{ data.url_website }}
                    </td>
                    <td>
                        {{ data.nomor_telepon }}
                    </td>
                    <td>
                        {{ data.alamat }}
                    </td>
                    <td>
                        {{ data.lokasi_rumah_sakit_lintang }}
                    </td>
                    <td>
                        {{ data.lokasi_rumah_sakit_bujur }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}