{% extends 'base.html' %}

{% block body_block %}

    <div class="container">

    {{ review_detail.pengunjung }}
        <p>
            <a class="btn btn-warning" href="{% url 'pengunjung:review_update' pk=review_detail.pk %}">Update</a>
            <a class="btn btn-danger" href="{% url 'pengunjung:review_delete' pk=review_detail.pk %}">Delete</a>
        </p>
        <div class="navbar-right">
            <form action="{% url 'pengunjung:foto_review_create' %}" method="get">
                <input type="hidden" name="data" value="{{ review_detail.pk }}">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Tambahkan Foto</button>
            </form>
        </div>
    </div>
{% endblock %}
