{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
        <h2>List Review</h2>
        <hr/>

        <h3>Review Request</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nama Asuransi</th>
                    <th>Nama Rumah Sakit</th>
                    <th>Kordinat Lintang</th>
                    <th>Kordinat Bujur</th>
                    <th>Rating</th>
                    <th>Status Validasi</th>
                    <th>Waktu Validasi</th>
                </tr>
            </thead>
            <tbody>

                    {% for foo in review_request %}
                        <tr>
                            <td>
                               {{ foo.rumah_sakit }}
                            </td>
                            <td>
                                {{ foo.pengunjung }}
                            </td>
                            <td>
                                {{ foo.data_lokasi_pengunjung_lintang }}
                            </td>
                            <td>
                                {{ foo.data_lokasi_pengunjung_bujur }}
                            </td>
                            <td>
                                {{ foo.rating }}
                            </td>
                            <td>
                                {{ foo.status_validasi}}
                            </td>
                            <td>
                                {{ foo.waktu_validasi }}
                            </td>
                        </tr>
                    {% endfor %}

            </tbody>
        </table>
        <hr/>

        <h3>Review Validated</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nama Asuransi</th>
                    <th>Nama Rumah Sakit</th>
                    <th>Kordinat Lintang</th>
                    <th>Kordinat Bujur</th>
                    <th>Rating</th>
                    <th>Status Validasi</th>
                    <th>Waktu Validasi</th>
                </tr>
            </thead>
            <tbody>

                    {% for foo in review_validated %}
                        <tr>
                            <td>
                               {{ foo.rumah_sakit }}
                            </td>
                            <td>
                                {{ foo.pengunjung }}
                            </td>
                            <td>
                                {{ foo.data_lokasi_pengunjung_lintang }}
                            </td>
                            <td>
                                {{ foo.data_lokasi_pengunjung_bujur }}
                            </td>
                            <td>
                                {{ foo.rating }}
                            </td>
                            <td>
                                {{ foo.status_validasi}}
                            </td>
                            <td>
                                {{ foo.waktu_validasi }}
                            </td>
                        </tr>
                    {% endfor %}

            </tbody>
        </table>
        <hr/>

        <h3>Review Rejected</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nama Asuransi</th>
                    <th>Nama Rumah Sakit</th>
                    <th>Kordinat Lintang</th>
                    <th>Kordinat Bujur</th>
                    <th>Rating</th>
                    <th>Status Validasi</th>
                    <th>Waktu Validasi</th>
                </tr>
            </thead>
            <tbody>

                    {% for foo in review_rejected %}
                        <tr>
                            <td>
                               {{ foo.rumah_sakit }}
                            </td>
                            <td>
                                {{ foo.pengunjung }}
                            </td>
                            <td>
                                {{ foo.data_lokasi_pengunjung_lintang }}
                            </td>
                            <td>
                                {{ foo.data_lokasi_pengunjung_bujur }}
                            </td>
                            <td>
                                {{ foo.rating }}
                            </td>
                            <td>
                                {{ foo.status_validasi}}
                            </td>
                            <td>
                                {{ foo.waktu_validasi }}
                            </td>
                        </tr>
                    {% endfor %}

            </tbody>
        </table>
        <hr/>

        <h3>Review Rejected By System</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nama Asuransi</th>
                    <th>Nama Rumah Sakit</th>
                    <th>Kordinat Lintang</th>
                    <th>Kordinat Bujur</th>
                    <th>Rating</th>
                    <th>Status Validasi</th>
                    <th>Waktu Validasi</th>
                </tr>
            </thead>
            <tbody>

                    {% for foo in review_rejected_by_system %}
                        <tr>
                            <td>
                               {{ foo.rumah_sakit }}
                            </td>
                            <td>
                                {{ foo.pengunjung }}
                            </td>
                            <td>
                                {{ foo.data_lokasi_pengunjung_lintang }}
                            </td>
                            <td>
                                {{ foo.data_lokasi_pengunjung_bujur }}
                            </td>
                            <td>
                                {{ foo.rating }}
                            </td>
                            <td>
                                {{ foo.status_validasi}}
                            </td>
                            <td>
                                {{ foo.waktu_validasi }}
                            </td>
                        </tr>
                    {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
