{% extends 'base.html' %}

{% block body_block %}
    <div class="container">

        <h2>Spesialis</h2>
        <hr/>
        <h3>{{ spesialis_detail.jenis_spesialis }}</h3>
        <p>
            Dekripsi:<br/>
            {{ spesialis_detail.deskripsi }}
        </p>

        <p>
            <a class="btn btn-warning" href="{% url 'rumah_sakit:spesialis_update' pk=spesialis_detail.pk %}">Update</a>
            <a class="btn btn-danger" href="{% url 'rumah_sakit:spesialis_delete' pk=spesialis_detail.pk %}">Delete</a>
        </p>
    </div>
{% endblock %}