{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
    <h2>List Spesialis</h2>
        {% if request.session.role == 'administrator' or request.session.role == 'rumah_sakit' %}
            <div class="navbar-right">
                <a href="{% url 'rumah_sakit:spesialis_create' %}">
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Spesialis</button>
                </a>
            </div>
        {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Jenis Spesialis</th>
                <th>Deskripsi</th>
            </tr>
        </thead>
        <tbody>
            {% for foo in spesialiss %}
                <tr>
                    <td>
                        <a href="{% url 'rumah_sakit:spesialis_detail' pk=foo.pk %}">{{ foo.jenis_spesialis }}</a>
                    </td>
                    <td>
                        {{ foo.deskripsi }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
